.about__container {
    .about__header {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        .header {
            font-family: "Montserrat", sans-serif;
            border-bottom: 3px solid var(--dark);
            margin-bottom: 10px;
            font-size: xx-large;
            font-weight: 700;
        }
    }

    .about__content {
        text-align: justify;
    }
}
