.skills__container {
    .skills__header {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        .header {
            font-family: "Montserrat", sans-serif;
            border-bottom: 3px solid var(--dark);
            margin-bottom: 10px;
            font-size: xx-large;
            font-weight: 700;
        }
    }

    .skills__content {
        .skills_list__container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .languages__container,
            .frameworks__container,
            .tools__container,
            .design__container {
                width: 125px;
                margin: 20px;
                border: 1px solid #bfbfbf;
                height: fit-content;

                .header {
                    background-color: #bfbfbf;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 5px 0;
                    font-weight: 700;

                    .title {
                        width: 100%;
                        text-align: center;
                    }
                }

                .data {
                    .data_item {
                        padding: 5px 0;
                        border: 1px solid #bfbfbf;
                    }

                    .data_item:nth-child(even) {
                        background-color: #ececec;
                    }
                }
            }
        }
    }
}
