.skills__container {
    .skills__header {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        .header {
            font-family: "Montserrat", sans-serif;
            border-bottom: 3px solid var(--dark);
            margin-bottom: 10px;
            font-size: xx-large;
            font-weight: 700;
        }
    }

    .skills__content {
        .skills_list__container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .languages__container,
            .frameworks__container,
            .tools__container,
            .design__container {
                height: fit-content;
                margin: 10px 20px;
                min-width: 181px;
                text-align: center;
            }
        }
    }
}
