@import "./Body/About.scss";
@import "./Body/ContactMe.scss";
@import "./Body/Home.scss";

.body__container {
    .contact_me__container {
        margin-bottom: 86px;
        height: 150vh;
    }

    .about__container,
    .contact_me__container,
    .home__container {
        padding-top: 65px;
    }
}
